.portfolio__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;

  padding: 6px 22px;
  color: var(--primary-text-color);
  background-color: var(--secondary-bgc-dark);
  transition: background-color var(--transition-duration-and-timing-function),
    box-shadow var(--transition-duration-and-timing-function),
    color var(--transition-duration-and-timing-function);

  &:hover,
  &:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    color: var(--primary-text-color-dark);
    background-color: var(--accent-color);
  }
}

.portfolio__nav {
  display: flex;
  justify-content: center;
  column-gap: 8px;
  margin-bottom: 50px;
}

.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--primary-text-color);
}

.portfolio__text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
}

.portfolio__examples {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--column-gap);
  row-gap: var(--row-gap);
}

.portfolio__subtitle {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.portfolio__wrapper {
  position: relative;
  overflow: hidden;
  width: 370px;
  height: 294px;
}

.portfolio__overlay {
  position: absolute;
  transform: translateY(100%);
  transition: transform var(--transition-duration-and-timing-function);
  top: 0;
  left: 0;
  overflow: auto;
  font-size: 18px;
  line-height: 1.56;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--primary-bgc);

  .portfolio__link:hover &,
  .portfolio__link:focus & {
    transform: translateY(0);
  }
}

.portfolio__link {
  transition: box-shadow var(--transition-duration-and-timing-function);

  &:hover,
  &:focus {
    display: block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
